src/main/resources/schema.xml

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Flowers">
        <xsd:complexType>
            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                <xsd:element ref="Rose"/>
                <xsd:element ref="Peony"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>

    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:element name="origin">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="CHINA"/>
                <xsd:enumeration value="VIETNAM"/>
                <xsd:enumeration value="NETHERLANDS"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="soil">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="PODZOL"/>
                <xsd:enumeration value="SOD_PODZOL"/>
                <xsd:enumeration value="CHERNOZEMS"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="color">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="RED"/>
                <xsd:enumeration value="BLUE"/>
                <xsd:enumeration value="YELLOW"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="length" type="xsd:positiveInteger"/>
    <xsd:element name="heliophyte" type="xsd:boolean"/>
    <xsd:element name="optimal-temperature" type="xsd:integer"/>
    <xsd:element name="with-spikes" type="xsd:boolean"/>
    <xsd:element name="multirowed" type="xsd:boolean"/>

    <xsd:element name="Rose">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="origin"/>
                <xsd:element ref="soil"/>
                <xsd:element ref="color"/>
                <xsd:element ref="length"/>
                <xsd:element ref="heliophyte"/>
                <xsd:element ref="optimal-temperature"/>
                <xsd:element ref="with-spikes"/>
            </xsd:all>
            <xsd:attribute ref="name"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Peony">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="origin"/>
                <xsd:element ref="soil"/>
                <xsd:element ref="color"/>
                <xsd:element ref="length"/>
                <xsd:element ref="heliophyte"/>
                <xsd:element ref="optimal-temperature"/>
                <xsd:element ref="multirowed"/>
            </xsd:all>
            <xsd:attribute ref="name"/>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>