src/main/resources/xsdSchemaForGreenHouse.xml

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="name" type="xsd:string"/>
    <xsd:element name="origin" type="xsd:string"/>
    <xsd:element name="soil" type="xsd:string"/>
    <xsd:element name="color" type="xsd:string"/>
    <xsd:element name="length" type="xsd:positiveInteger"/>
    <xsd:element name="heliophyte" type="xsd:boolean"/>
    <xsd:element name="optimalTemperature" type="xsd:integer"/>
    <xsd:element name="withSpikes" type="xsd:boolean"/>
    <xsd:element name="multirowed" type="xsd:boolean"/>

    <xsd:element name = "Rose">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="name"/>
                <xsd:element ref="origin"/>
                <xsd:element ref="soil"/>
                <xsd:element ref="color"/>
                <xsd:element ref="length"/>
                <xsd:element ref="heliophyte"/>
                <xsd:element ref="optimalTemperature"/>
                <xsd:element ref="withSpikes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "Peony">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="name"/>
                <xsd:element ref="origin"/>
                <xsd:element ref="soil"/>
                <xsd:element ref="color"/>
                <xsd:element ref="length"/>
                <xsd:element ref="heliophyte"/>
                <xsd:element ref="optimalTemperature"/>
                <xsd:element ref="multirowed"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "Flower">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="Rose" />
                <xsd:element ref="Peony" />
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>